<p
  [appForbiddenWordsHighlight]="'This text does not have forbidden words'"
  [forbiddenWords]="forbiddenWords">This text does not have forbidden words
</p>

<p
  [appForbiddenWordsHighlight]="'This text does have forbidden word: HEHEHE'"
  [forbiddenWords]="forbiddenWords">This text does have forbidden word: HEHEHE
</p>

<p [appForbiddenWordsHighlight2]="forbiddenWords">
  This text does not have forbidden words
</p>

<p [appForbiddenWordsHighlight2]="forbiddenWords">
  This text does have forbidden word: HEHEHE
</p>

