form {
  padding: 20px;
}

label {
  display: block;
  margin: 10px;
}

input {
  margin-left: 10px;
}

.input-error {
  font-size: 10px;
  color: red;
}

.ng-touched.ng-invalid {
  border: 1px solid red;
}